body {
    background-image: url(https://github.com/SagoDev/Proyecto-web-Mundo-Felino-Shop/blob/main/img/bg/bg-login.jpg?raw=true);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}