body {
    background-image: url(https://github.com/SagoDev/Proyecto-web-Mundo-Felino-Shop/blob/main/img/bg/bg-registrer.webp?raw=true);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.form-control {
    background: rgba(255, 255, 255, 0.6) !important;
    border: none;
    outline: none !important;
    width: 87%;
    height: 45px;
}

.register {
    width: 400px;
    height: 300px;
}

.register-box {
    height: 75vh;
}

.btn-register {
    background-color: #8f7aaf !important;
    transition: .3s;
    border: none !important;
}

.btn-register:hover {
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.bi {
    color: #67597e;
}