header {
    background: url(https://github.com/SagoDev/Proyecto-web-Mundo-Felino-Shop/blob/main/img/bg/bg-index.jpg?raw=true);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

@media(max-width:991px) {
    .sidebar {
        background-color: rgb(219, 165, 137);
    }
}

.card {
    width: calc(100%/3);
}

.products-section{
    height: 200vh;;
}

.btnBuy{
    color: rgb(219, 165, 137) !important;
    font-weight: bold;
}